{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
              <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.priority }}</td>
                <td>
                    <span class="badge badge-success">Done</span>
                    <span class="badge badge-danger">Delete</span>
                    <span class="badge badge-info">Update</span>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>