{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
              <tr>
                <th scope="row">{{ todo.id }}</th>
                {% if todo.is_completed %}
                  <td><s>{{ todo.title }}</s></td>
                {% else %}
                <td>{{ todo.title }}</td>
                {% endif %}
                {% if todo.completed_at %}
                <td><b>Completion Time:</b> {{ todo.completed_at }}</td>
                {% else %}
                <td>{{ todo.description }}</td>
                {% endif %}
                <td>{{ todo.priority }}</td>
                <td>
                  {% if todo.is_completed is False %}
                  <a href="{% url 'complete' todo.id %}"><span class="badge badge-success">Complete</span></a>
                  {% endif %}
                    <a href="{% url 'delete' todo.id %}"><span class="badge badge-danger">Delete</span></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="Todo" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="description" placeholder="Description" required>
                </div>
                <div class="col">
                    <select class="form-control" id="exampleFormControlSelect1" name="priority">
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-center add-todo">
                <div class="col">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
          </form>
    </div>
</body>
</html>