div.todo {
    background-color: aqua;
    margin-top: 100px;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    color: white;
}

.add-todo {
    padding-top: 10px;
}

.btn {
    display: block;
    width: 100%;
}

